#bg-skills {
  background: url("../../assets/caspar.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh); }

.cards {
  position: relative;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-around; }

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 100%;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75); }
  .card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 0.5s; }

.card-title {
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  line-height: 60px;
  font-weight: bold;
  color: #19F3A3;
  text-shadow: 0px 0px 20px #19F3A3; }

/* Frontend card section --------------------- */
#card-1 {
  background: url("../../assets/coding.jpg");
  background-position: center center;
  background-size: cover; }
  #card-1:hover::after {
    background: rgba(25, 243, 163, 0.1);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(25, 243, 163, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(25, 243, 163, 0.75);
    box-shadow: 0px 0px 5px 1px rgba(25, 243, 163, 0.75); }

/* Gamedev card section --------------------- */
#card-2 {
  background: url("../../assets/gaming.jpg");
  background-position: center center;
  background-size: cover; }
  #card-2:hover::after {
    background: rgba(203, 25, 87, 0.1);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(203, 25, 87, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(203, 25, 87, 0.75);
    box-shadow: 0px 0px 5px 1px rgba(203, 25, 87, 0.75); }

#gamedev {
  color: #CB1957;
  text-shadow: 0px 0px 20px #CB1957; }
