$bg: url( "../../assets/abstract.jpg" )
$js_skill: url( "../../assets/logos/js.png" )
$unity_skill: url( "../../assets/logos/unity.jpeg" )
$blender_skill: url( "../../assets/logos/blender.png" )

$color: #CB1957
$color_2: #34495E
$color_3: #19F3A3

#bg-skills
    background: $bg
    background-size: cover
    background-position: center center
    display: flex
    justify-content: center
    height: calc(100vh)

