#SkillGamedev {
  background: url(../../assets/gaming.jpg);
  background-size: cover;
  background-position: center center;
  height: 100%;
  display: flexbox;
  justify-content: center;
  align-content: center; }

.container {
  display: flex;
  justify-content: center; }

.row {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  border: 1px solid yellow;
  width: 1000px; }

#unity, #unreal, #blender {
  height: 250px;
  width: 250px; }

#unity {
  background-color: #19F3A3; }

#unreal {
  background-color: #34495E; }

#blender {
  background-color: #CB1957; }

@media (max-width: 1024px) {
  .row {
    flex-flow: column;
    align-items: center; }
  #unity, #unreal, #blender {
    margin-top: 50px; } }
