$bg_gamedev: url( ../../assets/gaming.jpg )

$unity_skill: url( "../../assets/logos/unity.jpeg" )
$unreal_skill: url( "../../assets/logos/ue_logo.png" )

$pink: #CB1957
$cyan: #19F3A3
$gray: #34495E

#SkillGamedev
    background: $bg_gamedev
    background-size: cover
    background-position: center center
    height: 100%
    display: flexbox
    justify-content: center
    align-content: center

.container
    display: flex
    justify-content: center
    
.row
    padding-top: 100px
    padding-bottom: 100px
    display: flex
    justify-content: space-between
    border: 1px solid yellow
    width: 1000px

#unity, #unreal, #blender
    height: 250px
    width: 250px

#unity
    background-color: $cyan
    
#unreal
    background-color: $gray

#blender
    background-color: $pink
   
@media ( max-width: 1024px )
    .row
        flex-flow: column
        align-items: center
    #unity, #unreal, #blender
        margin-top: 50px
    

