$bg_gamedev: url( ../../assets/gaming.jpg )

$unity_skill: url( "../../assets/logos/unity.jpeg" )
$unreal_skill: url( "../../assets/logos/ue_logo.png" )
$blender_skill: url( "../../assets/logos/blender.png" )

$pink: #CB1957
$cyan: #19F3A3
$gray: #34495E

#SkillGamedev
    background: $bg_gamedev
    background-size: cover
    background-position: center center
    height: 100%
    display: flexbox
    justify-content: center
    align-content: center

.container
    display: flex
    justify-content: center
    flex-flow: column
    
.row
    padding-top: 100px
    padding-bottom: 100px
    display: flex
    justify-content: space-between
    border: 1px solid yellow
    width: 100%

#unity, #unreal, #blender
    display: flex
    justify-content: center
    align-items: center
    height: 250px
    width: 250px
    background-color: rgba( 255, 255, 255, 0.2 )
    border-radius: 200px
    cursor: pointer
    -webkit-box-shadow: 0px 5px 45px 8px rgba( black, 0.75 )
    -moz-box-shadow: 0px 5px 45px 8px rgba( black, 0.75 )
    box-shadow: 0px 5px 45px 8px rgba( black, 0.75 )

#unity h1, #unreal h1, #blender h1
    font-family: 'press start 2p', sans-serif
    font-size: 2rem
    font-weight: bold
    color: white
    

#unity
    background-color: #242B34
    opacity: 0.8
    transition: opacity 1s, background 1s, box-shadow .5s
    &:hover
        -webkit-box-shadow: 0px 0px 1px 20px rgba( #242B34, 1 )
        -moz-box-shadow: 0px 0px 1px 20px rgba( #242B34, 1)
        box-shadow: 0px 0px 1px 20px rgba( #242B34, 1 )
        background-image: $unity_skill
        opacity: 1
        & h1
            display: none

#unreal
    background-color: #242B34
    opacity: 0.8
    transition: opacity 1s, background 1s, box-shadow 0.5s
    &:hover
        -webkit-box-shadow: 0px 0px 1px 20px rgba( #221E1F, 1 )
        -moz-box-shadow: 0px 0px 1px 20px rgba( #221E1F, 1)
        box-shadow: 0px 0px 1px 20px rgba( #221E1F, 1 )
        background-image: $unreal_skill
        opacity: 1
        & h1
            display: none

#blender
    background-color: #242B34
    opacity: 0.8
    transition: opacity 1s, background 1s, box-shadow .5s
    &:hover
        -webkit-box-shadow: 0px 0px 1px 20px rgba( white, 1 )
        -moz-box-shadow: 0px 0px 1px 20px rgba( white, 1)
        box-shadow: 0px 0px 1px 20px rgba( white, 1 )
        background-image: $blender_skill
        opacity: 1
        & h1
            display: none
   
@media ( max-width: 1024px )
    .row
        flex-flow: column
        align-items: center
    #unity, #unreal, #blender
        margin-top: 50px
    

