.frontend-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  margin: 0 40px;
  -webkit-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.75); }

#frontend-background {
  background: url("../../assets/coding_2.jpg");
  background-size: cover;
  height: 100%; }

#frontend-container {
  padding: 150px 0px;
  height: 100%; }

.row {
  display: flex;
  justify-content: center; }

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 20px 0; }

h6 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1rem; }

.feature-content {
  display: flex;
  padding: 50px 0px; }

.btn {
  font-family: 'roboto', sans-serif;
  border: none;
  color: black;
  border-radius: 0px;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75); }

#js-section {
  background: #F0DB4F; }

#js-image {
  background: url("../../assets/logos/js.png");
  image-size: cover;
  width: 250px;
  height: 250px; }

#js-card {
  background: rgba(240, 219, 79, 0.2); }

#js-button {
  background-color: #F0DB4F; }

#js-header-image {
  background: url("../../assets/books.jpg");
  background-size: cover;
  width: 560px;
  height: 315px;
  border: 1px solid pink;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75); }

#reactjs-section {
  background-color: #222222;
  color: white; }

#reactjs-image {
  background: url("../../assets/logos/reactjs.png");
  image-size: cover;
  width: 250px;
  height: 250px; }

#reactjs-card {
  background: rgba(0, 216, 255, 0.2); }

#reactjs-button {
  background-color: #00D8FF; }

#reactjs-header-image {
  background: url("../../assets/sabri.jpg");
  background-size: cover;
  width: 560px;
  height: 315px;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75); }

#bootstrap-section {
  background-color: #674197;
  color: #222222; }

#bootstrap-image {
  background: url("../../assets/logos/bootstrap.png");
  image-size: cover;
  width: 250px;
  height: 250px; }

#bootstrap-card {
  background: rgba(103, 65, 151, 0.2); }

#bootstrap-button {
  background-color: #674197; }

#bootstrap-header-image {
  background: url("../../assets/colorful_laptop.jpg");
  background-size: cover;
  width: 560px;
  height: 315px;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75); }
