.navbar {
    background-color: #563D7C;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.navbar-brand {
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

.navbar-brand:hover {
    color: navajowhite;
}

.navbar-nav > li {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    color: #fff;
}

.navbar-nav li:hover {
    color: navajowhite;
}
